<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Suculentas</title>
  </head>
  <body>
    <header class="header">
      <app-navbar></app-navbar>
    </header>

    <main>
      <section class="section-hero">
        <div class="hero-container">
          <div class="hero-text">
            <h1 class="header-primary">Proyecto Suculentoso</h1>
            <h2 class="header-secondary">Una colección personal de suculentas ...</h2>

            <div class="links-container">
              <a href="#" class="button color-primary margin-top">Ver colección &darr;</a>
              <a href="#" class="button color-secondary margin-top">Nueva suculenta</a>
            </div>
          </div>
  
          <div class="hero-img">
            <picture>
              <source srcset="../assets/img/succulent.webp" type="img/webp">
            </picture>

            <img
                src="../assets/img/succulent.webp"
                class="hero-image"
                alt="Green leafy succulent"
              />
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
