.header {
  background-color: #e0e2e1;
}

.section-hero {
  background-color: #e0e2e1;
  /* top right bottom left */
  padding: 3.2rem 6.4rem;
}

.hero-container {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6.4rem;
  padding-bottom: 6.4rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}

.hero-image {
  max-width: 100%;
}


